.idea/
docker/*/.env
*.log
venv/
data/output/*
data/log/*
test.sh
data/input/d54c0ad7-6697-4096-9f11-b2a9a6041a38.zip
data/input/flowline_140814.cpg
data/input/flowline_140814.dbf
data/input/flowline_140814.prj
data/input/flowline_140814.sbn
data/input/flowline_140814.sbx
data/input/flowline_140814.shp
data/input/flowline_140814.shx
data/input/topo_140814.dbf
data/input/topo_140814.prj
data/input/topo_140814.sbn
data/input/topo_140814.sbx
data/input/topo_140814.shp
data/input/topo_140814.shp.xml
data/input/topo_140814.shx
data/input/dem140814.tif
data/input/b8982e06-7975-4817-801a-6cddc4f85cd2.zip
data/input/op140814.tif
docker/clean_occurrences.env
docker/encode_layers.env
docker/build_shapegrid.env
docker/split_occurrence_data.env
data/input/occ_idigbio.zip
data/input/saxifragales_gbif.zip
docker/wrangle_tree.env
docker/.env
